/* Reset e configurações gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000; 
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000000;
    border-bottom: 2px solid #ffffff;
}

#logo {
    display: flex;
    align-items: center; 
}

#logo-img {
    width: 60px; 
    height: auto; 
}

nav {
    display: flex;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
}

nav ul li a:hover {
    color: #4A0B57;
}

#nav-login {
    background-color: #4A0B57;
    padding: 10px 20px;
    border-radius: 50px;
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
    margin-right: 30px;
}

#nav-login:hover {
    background-color: #ffffff;
    color: #4A0B57;
}

/* Formulário de Login */
.formulario-login {
    background-color: #000000;
    text-align: center;
    padding: 50px;
    width: 300px;
    margin: 50px auto;
    border-radius: 30px;
    border: 1px solid #ffffff;
}

#formulario-login input {
    border-radius: 20px;
    margin-top: 20px;
    line-height: 40px;
    width: 100%;
    padding-left: 20px;
    border: 2px solid #ffffff;
    background-color: #000000;
    color: #ffffff;
}

#formulario-login input[type="password"] {
    margin-bottom: 20px;
}

#formulario-login button {
    border-radius: 20px;
    border: none;
    padding: 10px;
    background-color: #4A0B57;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

#formulario-login button:hover {
    background-color: #41094c;
}

#formulario-login legend {
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
}

#formulario-login a {
    color: #ffffff;
}
#formulario-login a:hover{
    color: #41094c;
}

#formulario-login p {
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 5px; 
    margin: 10px 0; 
    font-size: 14px; 
    color: #ffffff; 
}

.botao-google button i {
    margin-right: 10px; 
}

/* Botões de Redes Sociais */
.social-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-button {
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 50%;
    padding: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 20px;
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out, border-color 0.1s ease-in-out;
    text-decoration: none;
    transition: 0.3;
}

.social-button:hover {
    background-color: #4A0B57;
    color: #ffffff;
    border-color: #4A0B57;
}

/* Footer */
footer p {
    font-size: 12px;
    padding: 20px;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}