/* Reseta margens e paddings e ajusta box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
hr{
    color: #727272;
}
/* Configurações gerais do body */
body {
    background-color: #000000;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    min-width: 500px;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000000;
    color: #fff;
    margin-bottom: 50px;
}

.logo img {
    width: 60px;
}

nav {
    margin-left: auto;
}

nav .menu {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

nav .menu li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    margin-right: 40px;
}

nav .menu li a:hover {
    color: #4A0B57;
}

.login-btn {
    margin-left: 10px;
}

.login-btn a {
    text-decoration: none;
    margin-right: 30px;
    padding: 10px 20px;
    background-color: #4A0B57;
    border: none;
    border-radius: 50px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
}

.login-btn a:hover {
    background-color: #ffffff;
    color: #4A0B57;
}

/* Título e Introdução */
.intro {
    font-family: "Libre Franklin", sans-serif;
    text-align: center;
    max-width: 90vw;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 200px;

}

.title {
    font-size: 60px;
    color: #4A0B57;
    margin-left: 100px;
    line-height: 1;
    margin-top: -10px;
    text-transform: uppercase;
}

.title .academia {
    font-weight: bold;
    display: inline;
    font-size: 70px;
}

.title .completa {
    font-weight: bold;
    color: #000000;
    position: relative;
    padding: 5px;
    font-size: 70px;
    text-shadow:
        -1px -1px 0 #4A0B57,
        1px -1px 0 #4A0B57,
        -1px 1px 0 #4A0B57,
        1px 1px 0 #4A0B57;
    position: relative;
    top: -10px;
    margin-left: -5px;
}

.description {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #aeabab;
    margin-top: 10px;
    margin-left: 100px;
    max-width: 100%;
    z-index: 1;
}

/* Estilo para as imagens */
.imagem-container {
    position: relative; /* Necessário para o posicionamento do pseudo-elemento */
  }
  
  .imagem-halter, .imagem-luta {
    width: 100%;
    height: auto; /* Ajusta a altura automaticamente para manter a proporção */
    display: block;
  }
  
  /* Pseudo-elemento para a película roxa */
  .imagem-container::before {
    content: ''; /* Necessário para criar o pseudo-elemento */
    position: absolute; /* Posiciona o pseudo-elemento sobre a imagem */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(128, 0, 128, 0.5); /* Cor roxa com opacidade de 50% */
    z-index: 1; /* Garante que a película fique acima da imagem */
  }
  
  /* Garantir que a imagem não seja coberta pelo pseudo-elemento */
  .imagem-container img {
    position: relative;
    z-index: 0; /* Coloca a imagem abaixo da película */
  }
  

.section1, .section2{
    color: white;
    text-align: center;
}
.title-section{
    font-weight: bold;
    color: #000000;
    position: relative;
    padding: 5px;
    font-size: 70px;
    text-shadow:
        -1px -1px 0 #ffff,
        1px -1px 0 #ffff,
        -1px 1px 0 #ffff,
        1px 1px 0 #ffff;
    position: relative;
    top: -10px;
    margin-left: -5px;
}



/* Sobre a Academia */
.about {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px 0;
    width: 100%;
    position: relative;
    min-height: 40vh;
    flex: 1;
    background-color: #333333;
    padding-right: 10px;
}

.content-box {
    display: flex;
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
    max-width: 55%;
    z-index: 1;
}

.about-img {
    max-width: 200px;
    margin-right: 20px;
    margin-left: -30px;
    height: 150px;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    margin-left: -5px;
}

.about-text h2 {
    font-size: 16px;
    color: #4A0B57;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.about-text p {
    font-size: 14px;
    color: #aeabab;
    max-height: 200px;
}

/* Botão */
.learn-more-btn {
    background-color: #000000;
    border: 2px solid #4A0B57;
    border-radius: 50%;
    color: #4A0B57;
    cursor: pointer;
    font-size: 24px;
    width: 55px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    margin-top: 15px;
}

.learn-more-btn:hover {
    color: #ffffff;
    border-color: #ffffff;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, border-color 0.5s ease-in-out;
}

/* Imagem Personal */
.side-img {
    max-width: 40%;
    position: relative;
    top: 10px;
    right: 10px;
}

/* Nova Seção */
.clear{
    flex-wrap: wrap;
}
.new-section {
    background-color: #111010;
    color: #fff;
    padding: 30px 0 10px 0;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.content-wrapper {
    max-width: 60%;
    margin: 100px auto;
    padding: 20px 0;
    text-align: left;
    margin-left: 100px;
}

.new-title {
    font-family: "Libre Franklin", sans-serif;
    font-size: 38px;
    color: #4A0B57;
    margin-left: 0;
    line-height: 1.5;
    margin-bottom: 20px;
    text-transform: uppercase;
    margin-top: 70px;
}

.new-title .welcome {
    font-weight: bold;
}

.new-title .sub-title {
    font-weight: bold;
    color: #4A0B57;
}

.new-section hr {
    border: 0;
    height: 2px;
    background-color: #4A0B57;
    margin: 20px 0;
    width: 15%;
    margin-left: 0;
}

.new-section p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 30px;
    font-weight: normal;
    color: #aeabab;
}

.button-container {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.btn {
    padding: 10px 20px;
    background-color: #111010;
    border: 2px solid #4A0B57;
    border-radius: 50px;
    color: #4A0B57;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.btn:hover {
    color: #ffffff;
    border-color: #ffffff;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, border-color 0.5s ease-in-out;
}

.new-side-img {
    max-width: 40%;
    position: relative;
    top: 10px;
    right: 40px;
}

/* Seção de Modalidades */
.modalities-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    background-color: #000000;
}

.image-container {
    position: relative;
    width: 40%;
    max-width: 100%;
    height: 530px;
}

.modalities-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
}

.overlay {
    position: absolute;
    top: 70%;
    left: 10%;
    text-align: left;
}

.modalities-title {
    font-size: 48px;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 4px;
    text-align: left;
    line-height: 1.2;
}

.title-line {
    width: 225px;
    height: 3px;
    background-color: #4A0B57;
    margin: 10px 0 0 0;
}

.modalities-content {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.icons-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
    width: 100%;
    margin-left: -18px;
}

.icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18%;
    margin-bottom: 20px;
    color: #4A0B57;
    font-weight: bold;
}

.icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    filter: brightness(0) invert(1);
}

.modalities-description {
    font-size: 14px;
    color: #aeabab;
    margin-bottom: 20px;
}

.modalities-description span {
    color: #4A0B57;
    font-weight: bold;
}

.modalities-subtitle {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  .modalities-btn {
    padding: 10px 20px;
    background-color: #000000;
    border: 2px solid #4A0B57;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  }
  
  .modalities-btn:hover {
    color: #ffffff;
    border-color: #ffffff;
    background-color: #000000;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, border-color 0.5s ease-in-out;
  }

/* section-footer */
.footer-section {
    background-color: #111010;
    color: #ffffff;
    text-align: center;
}

/* CSS para os botões de redes sociais */
.social-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
    margin-top: 50px;
}

.social-button {
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 50%;
    padding: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 20px;
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out, border-color 0.1s ease-in-out;
    text-decoration: none;
}

.social-button:hover {
    background-color: #4A0B57;
    color: #111010;
    border-color: #4A0B57;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.footer-title {
    font-family: "Libre Franklin", sans-serif;
    font-size: 28px;
    color: #4A0B57;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.footer-description {
    font-size: 14px;
    color: #aeabab;
    margin-bottom: 30px;
}

.footer-form {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

.email-input {
    padding: 10px;
    width: 60%;
    border: 1px solid #ffffff;
    border-radius: 50px;
    font-size: 14px;
    color: #aeabab;
    background-color: #111010;
}

.subscribe-btn {
    padding: 10px 20px;
    background-color: #4A0B57;
    border: none;
    border-radius: 50px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.subscribe-btn:hover {
    background-color: #ffffff;
    color: #4A0B57;
}

.footer-info {
    font-size: 12px;
    color: #aeabab;
}

/* @media (max-width: 1024px) {
    .side-img {
        right: 10px;
        top: -203px;
    }
    .description{
        max-width: 50%;
    }
    .new-side-img{
        right: -50px;
    }
}
@media (max-width: 768px) {
    .side-img {
        right: 10px;
        top: -125px;
    }

    .description {
        max-width: 50%;
    }

    .new-section {
        margin-top: -50px;
    }

    .new-side-img {
        right: 0px;
    }

    .icon-box p {
        font-size: 0.9rem;
    }

    .body {
        width: 100%;
        max-width: 100%;
    }
}
@media (max-width: 425px) {
    #home{
        margin-left: -15%;
    }
    .title{
        margin-bottom: 40px;
    }
    .side-img,
    .new-side-img {
        right: -100px;
        top: -125px;
        opacity: 0;
        z-index: -999;
    }
    .new-title{
        margin-top: -70px;
        max-width: 425px;
        width: 100%;
    }
    .welcome,
    .sub-title{
        max-width: 425px;
        width: 100%;
    }
    .content-box{
        margin-left: -50px;
    }
    .logo{
        margin-right: 25px;
    }
    .about-text p{
        width: 350px;
    }
    .description {
        max-width: 425px;
        width: 100%;
        margin-right: 10px;
        padding: 0 10px;
        box-sizing: border-box;
    }
    .new-section {
        margin-right: -140px;
        
    }
    .new-side-img {
        right: 0px;
    }
    .icon-box p {
        font-size: 0.9rem;
    }
} */