<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ryno - Home</title>
    <link rel="web icon" href="/static/img/logopreta.png">
    <link rel="stylesheet" href="/static/css/styleHome.css">
    <link 
        rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" 
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" 
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
    <div id="container">
        <header class="cabecalho">
            <div id="logo">
                <h1><a href="">Ryno</a></h1>
            </div>
            <div class="marcadagua">
            </div>
            <nav>
                <ul>
                    <li><a href="home.html" title="Clique para ir para a página inicial">Home</a></li>
                    <li><a href="profissional.html" title="Clique para acessar a página do profissional">Profissional</a></li>
                    <li><a id="nav-login" href="login.html" title="Clique para fazer login">Login</a></li>
                </ul>
            </nav>
        </header>
        <div class="clear"></div>
        <div class="icones">
            <ul>
                <li><a href="/profissional"><i class="fa-solid fa-dumbbell"></i><p>MUSCULAÇÃO</p></a></li>
                <li><a href="/profissional"><i class="fa-solid fa-mitten"></i><p>LUTAS</p></a></li>
                <li><a href="/profissional"><i class="fa-solid fa-person-swimming"></i><p>NATAÇÃO</p></a></li>
                <li><a href="/profissional"><i class="fa-solid fa-futbol"></i><p>ESPORTES</p></a></li>
            </ul>
        </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="sobre">
            <div class="imgquem1">
                <img class="imgquem2" src="/static/img/LOGO02-1.png" alt="">
            </div>
            <div class="quemsomos">
                <h1>QUEM SOMOS NÓS</h1>
                <div class="textoquemsomos">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae quod corporis velit corrupti sequi quisquam, repudiandae in inventore assumenda ut beatae quaerat praesentium rem laborum nemo hic commodi harum et.
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam corporis quas laboriosam quo odio vero quia eveniet neque modi, distinctio earum asperiores repudiandae facilis quod reprehenderit voluptas sunt, numquam nesciunt.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nostrum alias labore, voluptas hic impedit esse laboriosam molestiae culpa dicta et nesciunt pariatur nihil dolores, quis, voluptates explicabo necessitatibus veritatis.
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur officia commodi amet minus accusantium, nihil corporis aperiam tempore temporibus odit sit quibusdam esse veritatis nostrum molestiae nisi incidunt quasi eveniet!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam deserunt maiores blanditiis, aut, consectetur nesciunt officia temporibus sunt eius exercitationem soluta, excepturi voluptatum consequatur atque! Placeat, quod! Quas, illo itaque.
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore dolorem quo ullam maxime. Beatae, asperiores! Dolor, temporibus voluptas odio consequuntur fugit blanditiis consectetur ut, similique cupiditate error expedita quas quasi.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur, accusantium, distinctio, facere assumenda totam dolore ipsam saepe minus at ipsum repellendus ab exercitationem asperiores sed vel molestias reprehenderit. Quos, et?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, ea officia! Provident, maiores laboriosam quia consequuntur alias beatae ipsa ut cupiditate nam sequi ea quaerat laborum ad doloremque suscipit totam.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dolore accusamus beatae quis at aperiam sapiente unde quo harum. Modi itaque quis laboriosam placeat! Quidem consequatur excepturi ut mollitia. Magni?
                    </p>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <footer>
            <div id="logo">
                <h1><a href="">Ryno</a></h1>
            </div>
            <div class="div-icon">
                <a href="" class="icon"><i class="fa-brands fa-instagram"></i></a>
                <a href="" class="icon"><i class="fa-brands fa-facebook"></i></a>
                <a href="" class="icon"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="" class="icon"><i class="fa-brands fa-whatsapp"></i></a>
                <p>E-mail : Ryno@gmail.com</p>
            </div>
                <p id="direitos">Todos os direitos reservados &copy; 2024</p>           
        </footer>
    </div>
</body>
</html>
