<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ryno - Aluno</title>
    <link rel="web icon" href="/static/img/logopreta.png">
    <link rel="stylesheet" href="/static/css/stylePerfilAluno.css">
    <link 
    rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" 
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
    <div id="container">
        <header class="cabecalho">
            <div id="logo">
                <h1><a href="">Ryno</a></h1>
            </div>
            <div class="marcadagua">
            </div>
            <nav>
                <ul>
                    <li><a href="/" title="Clique para ir para a página inicial">Home</a></li>
                    <li><a href="/profissional" title="Clique para acessar a página do profissional">Profissional</a></li>
                    <li><a id="nav-login" href="/login" title="Clique para fazer login">Login</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div id="perfil">
                <h1>Aluno</h1>
                <img src="/static/img/Profile.png" alt="">
                <p>Nome</p>
                <p>Email</p>
                <p>Telefone</p>
                <p>Endereço</p>
                <button id="logout">Logout</button>
            </div>
            <div id="contato">
                <h1>Profissionais Recentes</h1>
                <div id="professor">
                    <img src="/static/img/Profile.png" alt="">
                    <div>
                        <p>João Silva</p>
                        <p>(11) 11111-1111</p>
                        <p>Horário: 00:00 - 00:00</p>
                        <p>Faixa de preço: R$00,00</p>
                    </div>
                </div>
                <div id="professor">
                    <img src="/static/img/Profile.png" alt="">
                    <div>
                        <p>João Silva</p>
                        <p>(11) 11111-1111</p>
                        <p>Horário: 00:00 - 00:00</p>
                        <p>Faixa de preço: R$00,00</p>
                    </div>
                </div>
                <div id="professor">
                    <img src="/static/img/Profile.png" alt="">
                    <div>
                        <p>João Silva</p>
                        <p>(11) 11111-1111</p>
                        <p>Horário: 00:00 - 00:00</p>
                        <p>Faixa de preço: R$00,00</p>
                    </div>
                </div>
                <div id="professor">
                    <img src="/static/img/Profile.png" alt="">
                    <div>
                        <p>João Silva</p>
                        <p>(11) 11111-1111</p>
                        <p>Horário: 00:00 - 00:00</p>
                        <p>Faixa de preço: R$00,00</p>
                    </div>
                </div>
            </div>
        </main>
            </div>
        <footer>
            <div id="logo">
                <h1><a href="">Ryno</a></h1>
            </div>
            <div class="div-icon">
                <a href="" class="icon"><i class="fa-brands fa-instagram"></i></a>
                <a href="" class="icon"><i class="fa-brands fa-facebook"></i></a>
                <a href="" class="icon"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="" class="icon"><i class="fa-brands fa-whatsapp"></i></a>
                <p>E-mail : Ryno@gmail.com</p>
            </div>
                <p id="direitos">Todos os direitos reservados &copy; 2024</p>           
            </footer>

    </div></body>
</html>