<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ryno - Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,900;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/static/css/styleHome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="/static/Image/logoRYNO.png" alt="Logo da Academia RYNO">
        </div>
        <nav>
            <ul class="menu">
                <li><a href="#home">Home</a></li>
                <li><a href="/profissional">Profissionais</a></li>
                <li><a href="#aluno">Aluno</a></li>
            </ul>
        </nav>
        <div class="login-btn">
            {% if user_logged_in %}
            <!-- Se o usuário estiver logado, mostrar o botão Perfil -->
            <a href="perfil" class="btn">Perfil</a>
            {% else %}
            <!-- Se o usuário NÃO estiver logado, mostrar o botão Login -->
            <a href="login" class="btn">Login</a>
            {% endif %}
        </div>
    </header>

    <main>
        <section id="home" class="intro">
            <h1 class="title">
                <span class="academia">Plataforma</span><br>
                <span class="completa">Fitness</span>
            </h1>
            <p class="description">
                Transforme sua mente e seu corpo conosco - venha fazer parte da nossa equipe e atinja seus melhores resultados!
            </p>
        </section>

        <div class="section1">
            <div class="elemento"></div>
            <p class="title-section">Quem Somos Nós</p>
            <div class="imagem-container">
                <img src="/static/Image/halter.png" alt="Imagem Halter" class="imagem-halter">
            </div>
            <p>Somos uma plataforma dedicada a conectar professores 
                de educação física qualificados e alunos em busca de 
                aulas de diversas modalidades. Nosso objetivo é facilitar 
                o encontro entre profissionais apaixonados pelo que 
                fazem e pessoas que desejam melhorar sua saúde, bem-estar 
                e desempenho físico. Seja você um atleta em busca de 
                treinamento especializado ou alguém querendo iniciar 
                uma atividade física, estamos aqui para ajudar a 
                encontrar o profissional ideal para suas necessidades.</p>
        </div>
        <div class="section2">
            <div class="elemento"></div>
            <p class="title-section">Modalidades</p>
            <div class="imagem-container">
                <img src="/static/Image/luta.png" alt="Imagem Luta" class="imagem-luta">
            </div>
            <p>
                Nossos Professores cadastrados oferecem uma ampla variedade 
                de modalidades para atender a todos os gostos e objetivos. 
                De esportes tradicionais a atividades modernas, 
                temos opções para quem busca treinamento funcional, 
                musculação, pilates, yoga, dança, artes marciais, 
                entre muitas outras. Independentemente do seu nível 
                ou interesse, nossos professores especializados 
                estão prontos para proporcionar aulas personalizadas e de qualidade.
            </p>
        </div>
            <section id="profissionais" class="modalities-section">
                <div class="image-container">
                    <img src="/static/Image/modalidade.avif" alt="Imagem Modalidades" class="modalities-img">
                    <div class="overlay">
                        <h2 class="modalities-title">MODA<br>LIDADES</h2>
                        <div class="title-line"></div>
                    </div>
                </div>
                <div class="modalities-content">
                    <div class="icons-container">
                        <div class="icon-box">
                            <img src="/static/Image/Icons/haltere.png" alt="Musculação" class="icon">
                            <p>Musculação</p>
                        </div>
                        <div class="icon-box">
                            <img src="/static/Image/Icons/natacao.png" alt="Natação" class="icon">
                            <p>Natação</p>
                        </div>
                        <div class="icon-box">
                            <img src="/static/Image/Icons/meditacao.png" alt="Yoga" class="icon">
                            <p>Yoga</p>
                        </div>
                        <div class="icon-box">
                            <img src="/static/Image/Icons/taekwondo.png" alt="Luta" class="icon">
                            <p>Luta</p>
                        </div>
                        <div class="icon-box">
                            <img src="/static/Image/Icons/dancando.png" alt="Dança" class="icon">
                            <p>Dança</p>
                        </div>
                    </div>
                    <p class="modalities-description">
                        Equipamento Completo, Spinning, CrossFit / Profissionais Capacitados.<br> 
                        Aquecida / Aulas para Todos os Níveis.<br>  
                        Ambiente Tranquilo / Instrutores Experientes.<br>   
                        Espaços Adequados / Diversos Estilos como KRAV MAGA, JIU JITSU, MUAY THAI, CAPOEIRA e BOXE.<br>   
                        Estúdio de Dança / Diversos Estilos como ZUMBA, FIT DANCE e BRAZA.
                    </p>
                    <h2 class="modalities-subtitle">O que você quer fazer hoje?</h2>
                    <button class="btn modalities-btn">Veja todas as modalidades</button>
                </div>
            </section>
        <footer class="footer-section">
            <div class="footer-content">
                <div class="social-buttons">
                    <a href="https://www.facebook.com" target="_blank" class="social-button">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://www.instagram.com" target="_blank" class="social-button">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://wa.me" target="_blank" class="social-button">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                </div>
                <div class="footer-info">
                    <p>&copy; 2024 Academia RYNO. Todos os direitos reservados.</p>
                </div>
            </div>
        </footer>
    </main>
</body>
</html>
