<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ryno - Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,900;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/static/css/styleHome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="/static/Image/logoRYNO.png" alt="Logo da Academia RYNO">
        </div>
        <nav>
            <ul class="menu">
                <li><a href="#home">Home</a></li>
                <li><a href="/profissional">Profissionais</a></li>
                <li><a href="#aluno">Aluno</a></li>
            </ul>
        </nav>
        <div class="login-btn">
            {% if user_logged_in %}
            <!-- Se o usuário estiver logado, mostrar o botão Perfil -->
            <a href="perfil" class="btn">Perfil</a>
            {% else %}
            <!-- Se o usuário NÃO estiver logado, mostrar o botão Login -->
            <a href="login" class="btn">Login</a>
            {% endif %}
        </div>
    </header>

    <main>
        <section id="home" class="intro">
            <h1 class="title">
                <span class="academia">Academia</span><br>
                <span class="completa">Completa</span>
            </h1>
            <p class="description">
                Transforme sua mente e seu corpo conosco - venha fazer parte da nossa academia e atinja seus melhores resultados!
            </p>
        </section>

        <section class="about">
            <div class="content-box">
                <img src="/static/Image/logoRYNO.png" alt="Imagem Logo da Academia" class="about-img">
                <div class="about-text">
                    <h2>Quem somos nós?</h2>
                    <p>
                        Nossa academia é o espaço ideal para quem deseja evoluir, oferecendo a 
                        flexibilidade de escolher entre ser aluno ou professor.
                        Como aluno, você terá acesso a uma variedade de programas e 
                        treinamentos personalizados. Se optar por se tornar
                        um professor, terá a chance de compartilhar seu conhecimento e motivar outros em um 
                        ambiente dinâmico e profissional.
                    </p>
                    <button class="learn-more-btn">
                        <i class="fas fa-chevron-down"></i>
                    </button>
                </div>
            </div>
            <img src="/static/Image/personal trainer.png" alt="Imagem Personal" class="side-img">
        </section>     
            <section id="aluno" class="new-section">
                <div class="content-wrapper">
                <h2 class="new-title">
                    <span class="welcome">Seja Bem-Vindo</span><br>
                    <span class="sub-title">à Academia RYNO</span>
                </h2>
                <hr>
                <p>Nossa disponibilidade de escolha é um dos nosso diferenciais.<br>
                    Aqui, cuidar da saúde e praticar atividades físicas é uma experiência única.</p>
                    <div class="button-container">
                        <button class="btn">Aluno</button>
                        <button class="btn">Profissional</button>
                    </div>
                </div>
                <img src="/static/Image/mulher correndo.webp" alt="Descrição da Imagem" class="new-side-img">
            </section>
            
            <section id="profissionais" class="modalities-section">
                <div class="image-container">
                    <img src="/static/Image/modalidade.avif" alt="Imagem Modalidades" class="modalities-img">
                    <div class="overlay">
                        <h2 class="modalities-title">MODA<br>LIDADES</h2>
                        <div class="title-line"></div>
                    </div>
                </div>
                <div class="modalities-content">
                    <div class="icons-container">
                        <div class="icon-box">
                            <img src="/static/Image/Icons/haltere.png" alt="Musculação" class="icon">
                            <p>Musculação</p>
                        </div>
                        <div class="icon-box">
                            <img src="/static/Image/Icons/natacao.png" alt="Natação" class="icon">
                            <p>Natação</p>
                        </div>
                        <div class="icon-box">
                            <img src="/static/Image/Icons/meditacao.png" alt="Yoga" class="icon">
                            <p>Yoga</p>
                        </div>
                        <div class="icon-box">
                            <img src="/static/Image/Icons/taekwondo.png" alt="Luta" class="icon">
                            <p>Luta</p>
                        </div>
                        <div class="icon-box">
                            <img src="/static/Image/Icons/dancando.png" alt="Dança" class="icon">
                            <p>Dança</p>
                        </div>
                    </div>
                    <p class="modalities-description">
                        Equipamento Completo, Spinning, CrossFit / Profissionais Capacitados.<br> 
                        Aquecida / Aulas para Todos os Níveis.<br>  
                        Ambiente Tranquilo / Instrutores Experientes.<br>   
                        Espaços Adequados / Diversos Estilos como KRAV MAGA, JIU JITSU, MUAY THAI, CAPOEIRA e BOXE.<br>   
                        Estúdio de Dança / Diversos Estilos como ZUMBA, FIT DANCE e BRAZA.
                    </p>
                    <h2 class="modalities-subtitle">O que você quer fazer hoje?</h2>
                    <button class="btn modalities-btn">Veja todas as modalidades</button>
                </div>
            </section>
        <footer class="footer-section">
            <div class="footer-content">
                <div class="social-buttons">
                    <a href="https://www.facebook.com" target="_blank" class="social-button">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://www.instagram.com" target="_blank" class="social-button">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://wa.me" target="_blank" class="social-button">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                </div>
                <div class="footer-info">
                    <p>&copy; 2024 Academia RYNO. Todos os direitos reservados.</p>
                </div>
            </div>
        </footer>
    </main>
</body>
</html>
