<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ryno - Professor</title>
    <link rel="web icon" href="/static/img/logopreta.png">
    <link rel="stylesheet" href="/static/css/stylePerfilProfissional.css">
    <link 
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" 
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
    <div id="container">
        <header class="cabecalho">
            <div id="logo">
                <a href="/">
                    <img src="/static/Image/logoRYNO.png" alt="Logo Ryno" id="logo-img">
                </a>
            </div>
            <nav>
                <ul>
                    <li><a href="/" title="Clique para ir para a página inicial">Home</a></li>
                    <li><a href="/profissional" title="Clique para acessar a página do profissional">Profissional</a></li>
                    {% if user_logged_in %}
                    <!-- Se o usuário estiver logado, mostrar o botão Perfil -->
                    <li><a id="nav-login" href="perfil" class="btn">Perfil</a></li>
                    {% else %}
                    <!-- Se o usuário NÃO estiver logado, mostrar o botão Login -->
                    <li><a id="nav-login" href="login" class="btn">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <div id="perfil">
                <h1>Professor</h1>
                <img src="/static/Image/perfil.png" alt="">
                <p>{{ nome }}</p>
                <p>{{ email }}</p>
                <p>
                    {% if telefone %}
                        {{ telefone }}
                    {% else %}
                        Telefone não informado
                    {% endif %}
                </p>
                <p>
                    {% if endereco %}
                        {{ endereco }}
                    {% else %}
                        Endereço não informado
                    {% endif %}
                </p>
                <p>CREF</p>
                <div id="botao">
                    <input id="editar" type="submit" onclick="toggleBoth()" value="Editar"></input>
                    <button id="logout"><a href="/perfil/logout">Logout</a></button>
                </div>
            </div>

            <div id="edit" style="display: none;">
                <form id="editForm" action="/perfil/editar" method="post">
                    <label for="nomeInput">Nome:</label>
                    <input type="text" id="nomeInput" name="nome" value="{{ nome }}">
                    <br>
                    <label for="emailInput">Email:</label>
                    <input type="email" id="emailInput" name="email" value="{{ email }}">
                    <br>
                    <label for="telefoneInput">Telefone:</label>
                    <input type="text" id="telefoneInput" name="telefone" value="{{ telefone }}">
                    <br>
                    <label for="enderecoInput">Enderco:</label>
                    <input type="text" id="enderecoInput" name="endereco" value="{{ endereco }}">
                    <br>
                    <button type="button" onclick="submitCombinedForm()">Enviar</button>
                </form>
            </div>

            <div id="contato-container">
                <h1>Profissionais Recentes</h1>
                <div id="contato">
                    <div id="professor">
                        <img src="/static/Image/perfil.png" alt="">
                        <div>
                            <p><span>João Silva</span></p>
                            <p>(11) 11111-1111</p>
                            <p>Horário: 00:00 - 00:00</p>
                            <p>Faixa de preço: R$00,00</p>
                        </div>
                    </div>
                    <div id="professor">
                        <img src="/static/Image/perfil.png" alt="">
                        <div>
                            <p><span>João Silva</span></p>
                            <p>(11) 11111-1111</p>
                            <p>Horário: 00:00 - 00:00</p>
                            <p>Faixa de preço: R$00,00</p>
                        </div>
                    </div>
                    <div id="professor">
                        <img src="/static/Image/perfil.png" alt="">
                        <div>
                            <p><span>João Silva</span></p>
                            <p>(11) 11111-1111</p>
                            <p>Horário: 00:00 - 00:00</p>
                            <p>Faixa de preço: R$00,00</p>
                        </div>
                    </div>
                    
                    <h2>Meus Serviços</h2>
                    <div id="contato-p">
                        <p>Modalidade: {{ modalidade }}</p>
                        <p>Local: a discutir </p>
                        <p>Horário: {{ horario }}</p>
                        <p>Faixa de preço: {{ preco }}</p>
                    </div>

                    <div id="edit-p" style="display: none;">
                        <form id="editForm-p" action="/perfil/editar" method="post">
                            <label for="modalidadeInput">Modalidade:</label>
                            <input type="text" id="modalidadeInput" name="modalidade" value="{{ modalidade }}">
                            <br>
                            <label for="localInput">Local:</label>
                            <input type="text" id="localInput" name="local" value="{{ local }}">
                            <br>
                            <label for="horarioInput">Horario:</label>
                            <input type="text" id="horarioInput" name="horario" value="{{ horario }}">
                            <br>
                            <label for="precoInput">Preco:</label>
                            <input type="text" id="precoInput" name="preco" value="{{ preco }}">
                            <br>
                        </form>
                    </div>

                </div>
            </div>
        </main>
            </div>

            <footer>
                <div class="social-buttons">
                    <a href="https://www.facebook.com" target="_blank" class="social-button">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://www.instagram.com" target="_blank" class="social-button">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://wa.me" target="_blank" class="social-button">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                </div>
                <p>E-mail : Ryno@gmail.com</p>        
            </footer>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>