<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profissionais - RYNO</title>
        <link rel="stylesheet" href="/static/css/styleProfissional.css">
        <link rel="web icon" href="/static/img/logopreta.png">
        <link 
        rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" 
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" 
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
    </head>
    <body>
        <div id="container">
            <header class="cabecalho">
                <div id="logo">
                    <a href="/">
                        <img src="/static/Image/logoRYNO.png" alt="Logo Ryno" id="logo-img">
                    </a>
                </div>
                <nav>
                    <ul>
                        <li><a href="/" title="Clique para ir para a página inicial">Home</a></li>
                        <li><a href="/profissional" title="Clique para acessar a página do profissional">Profissional</a></li>
                        {% if user_logged_in %}
                        <!-- Se o usuário estiver logado, mostrar o botão Perfil -->
                        <li><a id="nav-login" href="perfil" class="btn">Perfil</a></li>
                        {% else %}
                        <!-- Se o usuário NÃO estiver logado, mostrar o botão Login -->
                        <li><a id="nav-login" href="login" class="btn">Login</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </header>
            <main>
                <div class="main">
                    <div class="profissionais">
                        <h4>Profissionais Perto De Você</h4>
                    </div>
                    <div class="basquete">
                        <h4>Basquete</h4>
                    </div>
                    {% for profissional in profissionais_basquete %}
                    <div class="professor-basquete">
                        <img src="/static/Image/perfil.png" alt="Profile picture of {{ profissional.nome }}">
                        <div>
                            <p><span>{{ profissional.nome }}</span></p>
                            <p>{{ profissional.telefone }}</p>
                            <p>Horário: {{ profissional.horario }}</p>
                            <p>Faixa de preço: R${{ profissional.preco }}</p>
                        </div>
                    </div>
                    {% endfor %}
                    <hr>
                    <div class="pilates">
                        <h4>Pilates</h4>
                    </div>
                    {% for profissional in profissionais_pilates %}
                    <div class="professor-pilates">
                        <img src="/static/Image/perfil.png" alt="Profile picture of {{ profissional.nome }}">
                        <div>
                            <p><span>{{ profissional.nome }}</span></p>
                            <p>{{ profissional.telefone }}</p>
                            <p>Horário: {{ profissional.horario }}</p>
                            <p>Faixa de preço: R${{ profissional.preco }}</p>
                        </div>
                    </div>
                    {% endfor %}
                    <hr>
                    <div class="musculacao">
                        <h4>Musculação</h4>
                    </div>
                    {% for profissional in profissionais_musculacao %}
                    <div class="professor-musculacao">
                        <img src="/static/Image/perfil.png" alt="Profile picture of {{ profissional.nome }}">
                        <div>
                            <p><span>{{ profissional.nome }}</span></p>
                            <p>{{ profissional.telefone }}</p>
                            <p>Horário: {{ profissional.horario }}</p>
                            <p>Faixa de preço: R${{ profissional.preco }}</p>
                        </div>
                    </div>
                    {% endfor %}
                    
                    </div>
                </div>
            </main>
            <footer>
                <div class="social-buttons">
                    <a href="https://www.facebook.com" target="_blank" class="social-button">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://www.instagram.com" target="_blank" class="social-button">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://wa.me" target="_blank" class="social-button">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                </div>
                <p>E-mail : Ryno@gmail.com</p>        
            </footer>
        </div>
    </body>
</html>